.logo {
}
.logout {

    padding-top: 16px;
    padding-right: 30px;
}
.p_login {
    padding-top: 20px;
    padding-right: 10px;
    color: #888fa8;
}
.flex_logout {
    display: flex;
}

.header {
border-radius: 5px;
grid-area: h;
background-color: #1b2740;
}

.header img {
    padding-top: 16px;
    padding-left: 20px;
    width: 63px;
}

.loginBlock {
float: right;

}
.loginBlock a {
color: white;
}
.p_log {
    color: #888fa8;
    font-size: 20px;
    padding-right: 30px;
    padding-top: 16px;
}
.p_log:hover {
color: white;
}

