.header {
    border-radius: 5px;
    grid-area: h;
    background-color:#1b2740;
}

.header img {
    padding-top: 7px;
    padding-left: 50px;
    width: 115px;
}

.loginBlock {
    float: right;

}
.loginBlock a {
    color: white;
}
.flex_logout {
    display: flex;
}
.p_logout {
    padding-top: 22px;
    padding-right: 13px;
    color: #888fa8;
}
.header_logout {
    padding-top: 16px;
    padding-right: 30px;
}
.log {
    color: #888fa8;
    font-size: 20px;
    padding-right: 30px;
    padding-top: 16px;
}