.block_navbar {
    padding-top: 10px
}
.nav {
    border-radius: 5px;
    background-color: #1b2740;
    padding: 20px;
}
.item {
    text-decoration: none;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 15px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}