.nav {
    border-radius: 5px;
    background-color: #7ca4ef;
    padding: 20px;
}
.item {
    text-decoration: none;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 15px;
}
.item:hover {
    color: #494f54;
}
.item a {
    color: white;

}

.item a.activeLink {
    color:white;
}